<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>language.playdate</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>


<h1 id=main_title>Language Playdate</h1>

<a href="http://localhost:4567"><button autofocus="autofocus" class=buttons>Home </button></a>

<a href="http://localhost:4567/organize_meetup"><button autofocus="autofocus" class=buttons>Organize</button> </a>

<button type="button" class=buttons>Join</button>
	
 <h2>Welcome to Language Playdate.</h2>

    <p> On this website, you  can meet up with native
    language speakers or who are learning a language you speak. You can organize groups or join a pre-existing group. Mingle with people who share your culture or
    interest in learning different languages. People can also give you tips on
    their language.</p>
   


</body>
</html>

